<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AU</key>
	<dict>
		<key>name</key>
		<string>Australia</string>
		<key>currency</key>
		<string>AUD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>name</key>
		<string>Canada</string>
		<key>currency</key>
		<string>CAD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>EU</key>
	<dict>
		<key>name</key>
		<string>Europe</string>
		<key>currency</key>
		<string>EUR</string>
		<key>currencySymbol</key>
		<string>€</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>name</key>
		<string>United Kingdom</string>
		<key>currency</key>
		<string>GBP</string>
		<key>currencySymbol</key>
		<string>£</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>name</key>
		<string>Japan</string>
		<key>currency</key>
		<string>JPY</string>
		<key>currencySymbol</key>
		<string>¥</string>
	</dict>
	<key>US</key>
	<dict>
		<key>name</key>
		<string>Americas</string>
		<key>currency</key>
		<string>USD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>WW</key>
	<dict>
		<key>name</key>
		<string>Rest of World</string>
		<key>currency</key>
		<string>USD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>name</key>
		<string>Switzerland</string>
		<key>currency</key>
		<string>CHF</string>
		<key>currencySymbol</key>
		<string>F</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>name</key>
		<string>Mexico</string>
		<key>currency</key>
		<string>MXN</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>name</key>
		<string>Norway</string>
		<key>currency</key>
		<string>NOK</string>
		<key>currencySymbol</key>
		<string>kr</string>
	</dict>
	<key>NZ</key>
	<dict>
		<key>name</key>
		<string>New Zealand</string>
		<key>currency</key>
		<string>NZD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>name</key>
		<string>China</string>
		<key>currency</key>
		<string>CNY</string>
		<key>currencySymbol</key>
		<string>¥</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>name</key>
		<string>Sweden</string>
		<key>currency</key>
		<string>SEK</string>
		<key>currencySymbol</key>
		<string>kr</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>name</key>
		<string>Denmark</string>
		<key>currency</key>
		<string>DKK</string>
		<key>currencySymbol</key>
		<string>kr</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>name</key>
		<string>Singapore</string>
		<key>currency</key>
		<string>SGD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>TW</key>
	<dict>
		<key>name</key>
		<string>Taiwan</string>
		<key>currency</key>
		<string>TWD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>HK</key>
	<dict>
		<key>name</key>
		<string>Hong Kong</string>
		<key>currency</key>
		<string>HKD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>

	<key>IL</key>
	<dict>
		<key>name</key>
		<string>Israel</string>
		<key>currency</key>
		<string>ILS</string>
		<key>currencySymbol</key>
		<string>₪</string>
	</dict>
	<key>ID</key>
	<dict>
		<key>name</key>
		<string>Indonesia</string>
		<key>currency</key>
		<string>IDR</string>
		<key>currencySymbol</key>
		<string>Rp</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>name</key>
		<string>India</string>
		<key>currency</key>
		<string>INR</string>
		<key>currencySymbol</key>
		<string>₨</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>name</key>
		<string>Russia</string>
		<key>currency</key>
		<string>RUB</string>
		<key>currencySymbol</key>
		<string>₽</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>name</key>
		<string>Saudi Arabia</string>
		<key>currency</key>
		<string>SAR</string>
		<key>currencySymbol</key>
		<string>﷼</string>
	</dict>
	<key>ZA</key>
	<dict>
		<key>name</key>
		<string>South Africa</string>
		<key>currency</key>
		<string>ZAR</string>
		<key>currencySymbol</key>
		<string>R</string>
	</dict>
	<key>AE</key>
	<dict>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>currency</key>
		<string>AED</string>
		<key>currencySymbol</key>
		<string>د.إ</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>name</key>
		<string>Turkey</string>
		<key>currency</key>
		<string>TRY</string>
		<key>currencySymbol</key>
		<string>₤</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>name</key>
		<string>Thailand</string>
		<key>currency</key>
		<string>THB</string>
		<key>currencySymbol</key>
		<string>฿</string>
	</dict>
	<key>EG</key>
	<dict>
		<key>name</key>
		<string>Egypt</string>
		<key>currency</key>
		<string>EGP</string>
		<key>currencySymbol</key>
		<string>£</string>
	</dict>
	<key>MY</key>
	<dict>
		<key>name</key>
		<string>Malaysia</string>
		<key>currency</key>
		<string>MYR</string>
		<key>currencySymbol</key>
		<string>RM</string>
	</dict>
	<key>VN</key>
	<dict>
		<key>name</key>
		<string>Vietnam</string>
		<key>currency</key>
		<string>VND</string>
		<key>currencySymbol</key>
		<string>₫</string>
	</dict>
	<key>PH</key>
	<dict>
		<key>name</key>
		<string>Philippines</string>
		<key>currency</key>
		<string>PHP</string>
		<key>currencySymbol</key>
		<string>₱</string>
	</dict>
	<key>PK</key>
	<dict>
		<key>name</key>
		<string>Pakistan</string>
		<key>currency</key>
		<string>PKR</string>
		<key>currencySymbol</key>
		<string>₨</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>name</key>
		<string>Qatar</string>
		<key>currency</key>
		<string>QAR</string>
		<key>currencySymbol</key>
		<string>﷼</string>
	</dict>
	<key>NG</key>
	<dict>
		<key>name</key>
		<string>Nigeria</string>
		<key>currency</key>
		<string>NGN</string>
		<key>currencySymbol</key>
		<string>₦</string>
	</dict>
	
	<key>PE</key>
	<dict>
		<key>name</key>
		<string>Peru</string>
		<key>currency</key>
		<string>PEN</string>
		<key>currencySymbol</key>
		<string>S/.</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>name</key>
		<string>Hungary</string>
		<key>currency</key>
		<string>HUF</string>
		<key>currencySymbol</key>
		<string>Ft</string>
	</dict>
	<key>CO</key>
	<dict>
		<key>name</key>
		<string>Columbia</string>
		<key>currency</key>
		<string>COP</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>name</key>
		<string>Czech Republic</string>
		<key>currency</key>
		<string>CZK</string>
		<key>currencySymbol</key>
		<string>Kč</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>name</key>
		<string>Romania</string>
		<key>currency</key>
		<string>RON</string>
		<key>currencySymbol</key>
		<string>lei</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>name</key>
		<string>Poland</string>
		<key>currency</key>
		<string>PLN</string>
		<key>currencySymbol</key>
		<string>zł</string>
	</dict>
	
	<key>CL</key>
	<dict>
		<key>name</key>
		<string>Chile</string>
		<key>currency</key>
		<string>CLP</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>name</key>
		<string>Croatia</string>
		<key>currency</key>
		<string>HRK</string>
		<key>currencySymbol</key>
		<string>kn</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>name</key>
		<string>Bulgaria</string>
		<key>currency</key>
		<string>BGN</string>
		<key>currencySymbol</key>
		<string>лв</string>
	</dict>
	
	<key>KZ</key>
	<dict>
		<key>name</key>
		<string>Kazakhstan</string>
		<key>currency</key>
		<string>KZT</string>
		<key>currencySymbol</key>
		<string>лв</string>
	</dict>
	<key>TZ</key>
	<dict>
		<key>name</key>
		<string>Tanzania</string>
		<key>currency</key>
		<string>TZS</string>
		<key>currencySymbol</key>
		<string>TSh</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>name</key>
		<string>Brazil</string>
		<key>currency</key>
		<string>BRL</string>
		<key>currencySymbol</key>
		<string>R$</string>
	</dict>
	<key>KR</key>
	<dict>
		<key>name</key>
		<string>Korea</string>
		<key>currency</key>
		<string>KRW</string>
		<key>currencySymbol</key>
		<string>₩</string>
	</dict>
	
	<key>B1</key>
	<dict>
		<key>name</key>
		<string>Brazil0056</string>
		<key>currency</key>
		<string>BRL</string>
		<key>currencySymbol</key>
		<string>R$</string>
	</dict>
	<key>C2</key>
	<dict>
		<key>name</key>
		<string>Colombia0056</string>
		<key>currency</key>
		<string>COP</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>C3</key>
	<dict>
		<key>name</key>
		<string>Chile0056</string>
		<key>currency</key>
		<string>CLP</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>M1</key>
	<dict>
		<key>name</key>
		<string>Mexico0056</string>
		<key>currency</key>
		<string>MXN</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>
	<key>P1</key>
	<dict>
		<key>name</key>
		<string>Peru0056</string>
		<key>currency</key>
		<string>PEN</string>
		<key>currencySymbol</key>
		<string>S/.</string>
	</dict>
	<key>LL</key>
	<dict>
		<key>name</key>
		<string>Latin America and the Caribbean</string>
		<key>currency</key>
		<string>USD</string>
		<key>currencySymbol</key>
		<string>$</string>
	</dict>

</dict>
</plist>
