body {
	background-color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue;
}

table {
	border-collapse: collapse;
	white-space: nowrap;
	width: 100%;
	margin-top: 20px;
}
th {
	font-size: 13px;
	padding: 4px;
}
td {
	font-size: 12px;
	background-color: #f7f7f7;
	padding: 2px;
}

tr.header th {
	font-weight: 500;
	border-bottom: 1px solid #aaa;
}

tr.header {
	color: #aa1717;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, HelveticaNeue;
}
tr.item {
}
tr.detail {
	color: #666;
}
tr.summary {
/*	font-style: italic;*/
}
tr.total {
	font-weight: bold;
}

.product {
	text-align:left;
}
.region {
	text-align:left;
}
.productregion {
	text-align:left;
	width: 55%;
}
.regionproduct {
	text-align:right;
	width: 55%;
}
.units {
	text-align:right;
}
.sales {
	text-align:right;
}
.earnings {
	text-align:right;
}
.country {
	text-align:left;
}
.percentage {
	text-align:right;
}
.deposit {
	text-align:right;
}
.date {
	text-align:right;
}

td.deposit > input {
	font-family: Helvetica;
	font-size: 12px;
	text-align: right;
}

td.deposit > span {
	padding-right: 6px;
}

tr.header > th {
	background-color: #f0f0f0;
}
tr.product > td {
	background-color: #f6f6f6;
}
tr.summary > td.region {
	text-align:right;
}
tr.summary > td {
	border-top: 1px solid #f0f0f0;
}
tr.total > td.region {
	text-align:right;
}
tr.total > td {
	border-top: 1px solid #666;
	background-color: #e7e7e7;
}
